<h2>$item.name / Events </h2>

<table ws-visible="$item.events.size" width="100%">
  <thead>
    <tr>
      <th width="20"></th>
      <th width="20"></th>
      <th width="20">id</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr ws-repeat="$event in $item.events">
      <td><i ws-click="this.event.remove()" class="fi-x small link"></i></td>
      <td><i ws-click="act.toggle('showEditForm')" class="fi-pencil small link"></i></td>
      
      <td>$event.id</td>
      <td>
        $event.name
      </td>
    </tr>
  </tbody>
</table>

<div class="alert-box secondary" ws-visible="!$item.events.size">
    No events yet, please add one
</div>

<form ws-submit="this.event.create()">
  <fieldset>
    <legend>New Event</legend>
   
    <label>Input Label
      <input type="text" ws-value="$event.name">
    </label>
    <input type="submit" class="button tiny" value="Add">
    <br>
     <div ws-repeat="$error in $event._errors" class="label alert">$error.message</div>    
  </fieldset>
  
</form>